# Pastas a ignorar
# linhas descomentadas ignoram uma pasta/arquivo
# o '!' nega o ignorado

Library
Temp
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
*.orig
*.orig.meta
Thumbs.db
*.userprefs
*_comp_dir*
*_comp_light*
*_comp_shadowmask*
*NavMesh.asset*
*OcclusionCullingData.asset*
*LightingData.asset*
*NavMesh_*
*OcclusionCullingData_*
obj/
Assets/UnityVS/*
Assets/_TerrainAutoUpgrade/*
.vs/
unity3d_editor.log
*.code-workspace

.cache
.unsaved
.user
.restore

.DS_Store

Temp
Library
Build
obj
Assets/-tk2d.asset.meta
Assets/-tk2d.asset

UnitTestResults.xml

/_UpgradeReport_Files

Build.zip
UpgradeLog.XML
UpgradeLog.htm
UpgradeLog.htm.meta
Thumbs.db.meta
#/*.sublime-workspace
#/*.sublime-project
/Assets/Resources/AlbumArtSmall.jpg.meta
/Assets/Resources/Folder.jpg.meta
.vscode/


Builds/
Assets/Monograf/
Assets\Monograf.meta
Assets/TextMesh Pro/Examples/
Assets\TextMesh Pro\Examples.meta
.idea/
ProfilerData/
ProjectSettings
Packages
Logs
